:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --off-white-color: #fafafa;
  --shocking-pink-color: #e44b8b;
  --light-gray: #dbdbdb;
  --cornflower-blue: #7f83a9;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--off-white-color);
}

a {
  text-decoration: none;
  color: var(--black-color);
}

li {
  list-style-type: none;
}

.container {
  padding: 20px;
  display: flex;
  height: 100%;
}

.app {
  height: 100vh;
}
.right_screens {
  margin: 0 auto;

  width: 75%;
}

/* Sidebar */
.sidebar {
  width: 17%;
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  height: 100%;
  overflow-y: auto;
}

.sidebar-container {
  /* width: 85%; */
  padding: 30px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.logo {
  padding-bottom: 1rem;
  cursor: pointer;
}

.logo img {
  width: 150px;
}

.sidebar h2 {
  border-top: 1px solid var(--shocking-pink-color);
  border-bottom: 1px solid var(--shocking-pink-color);
  width: 100%;
  text-align: center;
  color: var(--shocking-pink-color);
  font-weight: 500;
  padding: 0.4rem 0;
  font-size: 20px;
}

.sidebar ul {
  padding: 1rem 0;
  width: 100%;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem;
  color: var(--cornflower-blue);
  border-left: 4px solid transparent;
}

.sidebar ul li a {
  color: var(--cornflower-blue);
}

.sidebar ul li:hover {
  border-left: 4px solid var(--shocking-pink-color);
  cursor: pointer;
  border-radius: 4px;
  color: var(--shocking-pink-color);
}

.sidebar ul li:hover > a {
  color: var(--shocking-pink-color);
}

.sidebar ul li a:hover {
  color: var(--shocking-pink-color);
}

.sidebar ul li i {
  margin-right: 1rem;
}

/* Roles Screen */
.show_modal.roles_screen::before {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the background color and opacity as needed */
  z-index: 1; /* Ensure the overlay appears on top of other elements */
}

.roles_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: 100%;
  position: relative;
}

.roles_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.roles_screen_container div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roles_screen_container div:first-child button {
  background-color: var(--shocking-pink-color);
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 16px;
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.roles_screen_container div:first-child button i {
  padding-left: 1rem;
  cursor: pointer;
}

.roles_screen_container input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  margin: 1rem 0;
}

.roles_screen_container input {
  outline: none;
}

.roles_screen_container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roles_screen_container ul li {
  width: 33%;
  border-bottom: 1px solid var(--off-white-color);
  padding: 1rem 0;
}

.roles_screen_container ul li h5 {
  font-size: 16px;
}

.roles_screen_container ul li button {
  padding: 0.6rem 1rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
}

.roles_screen_container ul li button:first-child {
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
}

.roles_screen_container ul li button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--white-color);
}

.roles_screen_container ul li button:hover {
  cursor: pointer;
}

.roles_screen .close_modal {
  position: absolute;
  z-index: 2;
  color: var(--white-color);
  right: 4%;
}

.roles_screen .close_modal:hover {
  cursor: pointer;
}

/* Create Role Modal */
.create_role_modal {
  padding: 30px;
  background-color: var(--white-color);
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
}

.create_role_modal h3 {
  margin-bottom: 0.7rem;
  font-size: 24px;
}

.create_role_modal input {
  padding: 1rem;
  width: 350px;
  height: 45px;
  border: none;
  background-color: var(--off-white-color);
  border-radius: 5px;
}

.create_role_modal input:focus {
  outline: none;
}

.create_role_modal div {
  display: inline-flex;
  flex-direction: column;
}

.create_role_modal button {
  width: 100px;
  margin-right: 0.6rem;
  border: none;
  border-radius: 5px;
  height: 45px;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  font-weight: 600;
  margin-top: 0.7rem;
  cursor: pointer;
}

/* Role Permissions */
.role_permissions {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: 100%;
  position: relative;
  overflow-x: auto;
}

.role_permissions h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.role_permissions h2 {
  color: var(--black-color);
  font-weight: 700;
  margin: 1rem 0;
}

.role_permissions table {
  border-collapse: collapse;
  width: 100%;
}

.role_permissions table thead {
  color: var(--black-color);
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--off-white-color);
}

.role_permissions table tr td:first-child {
  width: 25%;
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
}

.role_permissions table tr td:last-child {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.role_permissions tr label {
  font-size: 14px;
  cursor: pointer;
  color: var(--cornflower-blue);
  font-weight: 400;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.role_permissions th,
.role_permissions td {
  padding: 1rem 0;
  text-align: left;
}

.role_permissions th {
  font-weight: bold;
}

.role_permissions td input[type="checkbox"] {
  margin-right: 0.5rem;
}

.role_permissions tr:not(:last-child) {
  border-bottom: 1px solid var(--off-white-color);
}

.role_permissions form button {
  width: 120px;
  border: none;
  border-radius: 3px;
  height: 45px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* User Screen */
.users_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: 100%;
  overflow-y: auto;
}

.users_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.users_screen_container div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users_screen_container div:first-child button {
  background-color: var(--shocking-pink-color);
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 16px;
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 1px;
}

.users_screen_container div:first-child button i {
  padding-left: 1rem;
  cursor: pointer;
}

.users_screen_container input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  margin: 1rem 0;
}

.users_screen_container input {
  outline: none;
}

.users_screen_container table {
  width: 100%;
  border-collapse: collapse;
}

.users_screen_container thead th {
  padding: 1rem 0;
  text-align: left;
}

.users_screen_container tbody td {
  padding: 1rem 0;
  border-top: 1px solid var(--off-white-color);
}

.users_screen_container tbody tr:last-child td {
  border-bottom: none;
}

.users_screen_container button {
  padding: 0.6rem 1rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.users_screen_container button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--off-white-color);
}

/* Create User Screen */
.create_user_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: auto;
}

.create_user_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.create_user_screen form .form_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  justify-content: space-between;
  gap: 0.5rem 3rem;
}

.create_user_screen label {
  display: flex;
  flex-direction: column;
}

.create_user_screen .radio_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.create_user_screen .radio_label input {
  width: auto;
  margin-right: 1rem;
}

.create_user_screen input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
}

.create_user_screen input:focus {
  outline: none;
}

.create_user_screen select {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.create_user_screen select:focus {
  outline: none;
}

.create_user_screen select option {
  height: 1rem !important;
}

.create_user_screen .cta_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.create_user_screen .cta_buttons button {
  padding: 1rem 1.8rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.create_user_screen .cta_buttons button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--white-color);
}

/* Edit User Screen */
.edit_user_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: auto;
}

.edit_user_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.edit_user_screen form .form_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  justify-content: space-between;
}

.edit_user_screen label {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.edit_user_screen .radio_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.edit_user_screen .radio_label input {
  width: auto;
  margin-right: 1rem;
}

.edit_user_screen input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
}

.edit_user_screen input:focus {
  outline: none;
}

.edit_user_screen select {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.edit_user_screen .custom_select:focus {
  outline: none;
}

.edit_user_screen select option {
  height: 1rem !important;
}

.edit_user_screen .cta_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.edit_user_screen .cta_buttons button {
  padding: 1rem 1.8rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.edit_user_screen .cta_buttons button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--white-color);
}

/* Customers Screen */
.show_address_modal.customers_screen::before {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the background color and opacity as needed */
  z-index: 1; /* Ensure the overlay appears on top of other elements */
}

.customers_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: 100%;
  position: relative;
}

.customers_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.customers_screen_container div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers_screen_container div:first-child button {
  background-color: var(--shocking-pink-color);
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 16px;
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.customers_screen_container div:first-child button i {
  padding-left: 1rem;
}

.customers_screen_container input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  margin: 1rem 0;
}

.customers_screen_container input {
  outline: none;
}

.customers_screen_container table {
  width: 100%;
  border-collapse: collapse;
}

.customers_screen_container thead th {
  padding: 1rem 0;
  text-align: left;
}

.customers_screen_container tbody td {
  padding: 1rem 0;
  border-top: 1px solid var(--off-white-color);
}

.customers_screen_container tbody tr:last-child td {
  border-bottom: none;
}

.customers_screen_container .show_address_btn {
  padding: 0.8rem 1rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--cornflower-blue);
  color: var(--white-color);
  cursor: pointer;
}

.customers_screen_container td:last-child button {
  padding: 0.6rem 1rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.customers_screen_container td:last-child button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--off-white-color);
}

.customers_screen .close_modal {
  position: absolute;
  z-index: 2;
  color: var(--white-color);
  right: 4%;
}

.customers_screen .close_modal:hover {
  cursor: pointer;
}

/* Customer Address Modal */
.customer_address_modal {
  width: 1000px;
  padding: 30px;
  background-color: var(--white-color);
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.customer_address_modal h3 {
  margin-bottom: 0.9rem;
  font-size: 24px;
}

.customer_address_modal ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.customer_address_modal ul li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.customer_address_modal ul li h4 {
  margin-bottom: 0.6rem;
}

.customer_address_modal ul li div p {
  background-color: var(--off-white-color);
  height: 45px;
  border-radius: 5px;
  margin-right: 2rem;
  display: flex;
  width: 750px;

  align-items: center;
  padding: 0 1rem;
}

.customer_address_modal button {
  width: 120px;
  margin-right: 0.6rem;
  border: none;
  border-radius: 5px;
  height: 45px;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  font-weight: 600;
  cursor: pointer;
}

/* Create Customer Screen */
.create_customer_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: auto;
}

.create_customer_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.create_customer_screen form .form_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  justify-content: space-between;
  gap: 0.5rem 3rem;
}

.create_customer_screen form .addresses {
  grid-column: 1 / span 2;
}

.create_customer_screen form .add_new_address_btn {
  padding: 1rem 1.8rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 1rem;
  grid-column: 1 / span 2;
}

.create_customer_screen label {
  display: flex;
  flex-direction: column;
}

.create_customer_screen .addresses label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.create_customer_screen .addresses label .fa-multiply {
  font-size: 22px;
  cursor: pointer;
}

.create_customer_screen .radio_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.create_customer_screen .radio_label input {
  width: auto;
  margin-right: 1rem;
}

.create_customer_screen input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
}

.create_customer_screen input:focus {
  outline: none;
}

.create_customer_screen select {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.create_customer_screen select:focus {
  outline: none;
}

.create_customer_screen select option {
  height: 1rem !important;
}

.create_customer_screen .cta_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.create_customer_screen .cta_buttons button {
  padding: 1rem 1.8rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.create_customer_screen .cta_buttons button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--white-color);
}

/* Edit Customer Screen */
.edit_customer_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: auto;
}

.edit_customer_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.edit_customer_screen form .form_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  justify-content: space-between;
  gap: 0.5rem 3rem;
}

.edit_customer_screen form .addresses {
  grid-column: 1 / span 2;
}

.edit_customer_screen form .add_new_address_btn {
  padding: 1rem 1.8rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 1rem;
  grid-column: 1 / span 2;
}

.edit_customer_screen label {
  display: flex;
  flex-direction: column;
}

.edit_customer_screen .radio_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.edit_customer_screen .radio_label input {
  width: auto;
  margin-right: 1rem;
}

.edit_customer_screen input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
}

.edit_customer_screen input:focus {
  outline: none;
}

.edit_customer_screen select {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.edit_customer_screen select:focus {
  outline: none;
}

.edit_customer_screen select option {
  height: 1rem !important;
}

.edit_customer_screen .cta_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.edit_customer_screen .cta_buttons button {
  padding: 1rem 1.8rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.edit_customer_screen .cta_buttons button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--white-color);
}

/* Agents Screen */
.show_agent_preview_modal.agents_screen::before {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the background color and opacity as needed */
  z-index: 1; /* Ensure the overlay appears on top of other elements */
}

.agents_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: 100%;
  position: relative;
}

.agents_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.agents_screen_container div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agents_screen_container div:first-child button {
  background-color: var(--shocking-pink-color);
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 16px;
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.agents_screen_container div:first-child button i {
  padding-left: 1rem;
}

.agents_screen_container input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  margin: 1rem 0;
}

.agents_screen_container input {
  outline: none;
}

.agents_screen_container table {
  width: 100%;
  border-collapse: collapse;
}

.agents_screen_container thead th {
  padding: 1rem 0;
  text-align: left;
}

.agents_screen_container tbody td {
  padding: 1rem 0;
  border-top: 1px solid var(--off-white-color);
}

.agents_screen_container tbody tr:last-child td {
  border-bottom: none;
}

.agents_screen_container .show_address_btn {
  padding: 0.8rem 1rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--cornflower-blue);
  color: var(--white-color);
  cursor: pointer;
}

.agents_screen_container td:last-child button {
  padding: 0.6rem 1rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.agents_screen_container td:last-child button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--off-white-color);
}

.agents_screen .close_modal {
  position: absolute;
  z-index: 2;
  color: var(--white-color);
  right: 4%;
}

.agents_screen .close_modal:hover {
  cursor: pointer;
}

/* Agent Preview Modal */
.agent_preview_modal {
  width: 1000px;
  padding: 30px;
  background-color: var(--white-color);
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.agent_preview_modal h3 {
  margin-bottom: 2rem;
  font-size: 24px;
  color: var(--shocking-pink-color);
}

.agent_preview_modal ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 4rem;
}

.agent_preview_modal ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.agent_preview_modal ul li div {
  display: flex;
  flex-direction: row;
}

.agent_preview_modal ul li h4 {
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.agent_preview_modal ul li div p {
  background-color: var(--off-white-color);
  height: 45px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
}

.agent_preview_modal button {
  width: 120px;
  margin-right: 0.6rem;
  border: none;
  border-radius: 5px;
  height: 45px;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  font-weight: 600;
  cursor: pointer;
}

.agent_preview_modal .expertise_list {
  grid-column: 1 / span 2;
}

.agent_preview_modal .expertise_list div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.agent_preview_modal .expertise_list div p {
  margin-right: 0.5rem;
  border-radius: 200px;
  width: fit-content;
  margin-top: 1rem;
}
/* Edit Agent Screen */
.edit_agent_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: auto;
}

.edit_agent_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.edit_agent_screen form .form_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  justify-content: space-between;
  gap: 0.5rem 3rem;
}

.edit_agent_screen form .addresses {
  grid-column: 1 / span 2;
}

.edit_agent_screen form .add_new_address_btn {
  padding: 1rem 1.8rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 1rem;
  grid-column: 1 / span 2;
}

.edit_agent_screen label {
  display: flex;
  flex-direction: column;
}

.edit_agent_screen .radio_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.edit_agent_screen .radio_label input {
  width: auto;
  margin-right: 1rem;
}

.edit_agent_screen input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
}

.edit_agent_screen input:focus {
  outline: none;
}

.edit_agent_screen select {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.edit_agent_screen select:focus {
  outline: none;
}

.edit_agent_screen select option {
  height: 1rem !important;
}

.edit_agent_screen .cta_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.edit_agent_screen .cta_buttons button {
  padding: 1rem 1.8rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.edit_agent_screen .cta_buttons button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--white-color);
}

.edit_agent_screen .address_input {
  grid-column: 1 / span 2;
}

.edit_agent_screen .expertise_input {
  grid-column: 1 / span 2;
}

/* Create Agent Screen */
.create_agent_screen {
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--light-gray);
  border-radius: 15px;
  padding: 30px 50px;
  height: auto;
}

.create_agent_screen h1 {
  color: var(--shocking-pink-color);
  font-weight: 600;
}

.create_agent_screen form .form_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  justify-content: space-between;
  gap: 0.5rem 3rem;
}

.create_agent_screen form .addresses {
  grid-column: 1 / span 2;
}

.create_agent_screen form .add_new_address_btn {
  padding: 1rem 1.8rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 1rem;
  grid-column: 1 / span 2;
}

.create_agent_screen label {
  display: flex;
  flex-direction: column;
}

.create_agent_screen .radio_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.create_agent_screen .radio_label input {
  width: auto;
  margin-right: 1rem;
}

.create_agent_screen input {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
}

.create_agent_screen input:focus {
  outline: none;
}

.create_agent_screen select {
  border: none;
  background-color: var(--off-white-color);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.create_agent_screen select:focus {
  outline: none;
}

.create_agent_screen select option {
  height: 1rem !important;
}

.create_agent_screen .cta_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.create_agent_screen .cta_buttons button {
  padding: 1rem 1.8rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 3px;
  background-color: var(--shocking-pink-color);
  color: var(--white-color);
  cursor: pointer;
}

.create_agent_screen .cta_buttons button:last-child {
  background-color: var(--cornflower-blue);
  color: var(--white-color);
}

.create_agent_screen .address_input {
  grid-column: 1 / span 2;
}

.create_agent_screen .expertise_input {
  grid-column: 1 / span 2;
}
